<div class="ui container">
  <div class="ui centered three doubling stackable cards">
    {{#each goals.goals}}
      <div class="ui link card">
        <section class="content">
          <a class="ui red ribbon label">{{status}}</a>
          <div class="center aligned header">{{date}}</div>
          <section class="ui two column grid">
            <section class="column">
              <div class="row">Weight:</div>
              <div class="row">Chest:</div>
              <div class="row">Thigh: </div>
              <div class="row">Upper Arm:</div>
              <div class="row">Waist:</div>
              <div class="row">Hips:</div>
              <div class="row">Description:</div>
            </section>

            <section class="column">
              <div class="row">{{weight}}</div>
              <div class="row">{{chest}}</div>
              <div class="row">{{thigh}} </div>
              <div class="row">{{upperArm}} </div>
              <div class="row">{{waist}} </div>
              <div class="row">{{hips}}</div>
              <div class="row">{{description}}</div>
            </section>
          </section>
        </section>
        <section class="center aligned content">
          <a href="/goals/deleteGoal/{{../user.id}}/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </section>
      </div>
    {{/each}}
  </div>
</div>