<table class="ui table">
  <thead>
  <tr>
    <th>Location</th>
    <th>Date</th>
    <th>Time</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each classes.sessions}}
    <tr>
      <td>
        {{location}}
      </td>
      <td>
        {{date}}
      </td>
      <td>
        {{time}}
      </td>
      <td>
        <a href="/playlist/{{../playlist.id}}/deletesong/{{id}}" class="ui icon button">
          <i class="icon trash"></i>
        </a>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>