<table class="ui table">
  <thead>
  <tr>
    <th>Location</th>
    <th>Date/Time</th>
    <th>Capacity</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each classes.sessions}}
    <tr>
      <td>
        {{location}}
      </td>
      <td>
        {{dateTime}}
      </td>
      <td>
        {{capacity}}
      </td>
      {{#if ../isTrainer}}
        <td>
          <a href="/classes/{{../classes.id}}/deletesession/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      {{/if}}
    </tr>
  {{/each}}
  </tbody>
</table>