<a class="content" href="/classes/{{id}}">
  <div class="header">{{name}}</div>
  <div class="meta">Difficulty: {{difficulty}}</div>
  <div class="meta">Sessions: {{numSessions}}</div>
  <div class="meta">Duration: {{duration}} minutes</div>
  <div class="description">
    {{description}}
  </div>
</a>