<section class="center aligned content">
  <div class="ui teal buttons">
    <div class="ui button">Options</div>
    <div class="ui floating dropdown icon button">
      <i class="dropdown icon"></i>
      <div class="menu">

        <div class="item" data-modal="{{id}}"><i class="edit icon"></i> Edit Details</div>
        <!--https://gist.github.com/marcosfreitas/53a6c6a891aa5441d938-->
        <!--http://jsfiddle.net/efp8z6Ln/158/-->
        <div class="ui modal" id="{{id}}"> <i class="close icon"></i>
          <div class="header">{{name}}</div>
          <div class="content">
            <form method="post" id="theform" action="example.com">
              <div class="image">An image can appear on left or an icon</div>
              <div class="description">Class specific modal appears to edit the class info - not working</div>
            </form>
          </div>
          <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
            <input type="submit" value="submit" form="theform" class="ui button">
          </div>
        </div>

        <a class="item" href="/trainerDashboard/classes/delete/{{id}}" >
          <i class="red delete icon"></i> Delete Class
        </a>
        <a class="item" href="/trainerDashboard/classes/hideOrUnhide/{{id}}">
          {{#if hidden}}
            <i class="green unhide icon"></i> Unhide Class
          {{else}}
            <i class="red hide icon"></i> Hide Class
          {{/if}}
        </a>
      </div>
    </div>
  </div>
</section>