{{#if isTrainer}}
  {{> trainermenu id="dashboard"}}
{{else}}
  {{> menu id="dashboard"}}
{{/if}}

{{> analytics}}

{{#if assessmentlist.assessments}}
  {{> assessment-table}}
{{else}}
  <section class="ui center aligned segment">You have no assessment. Book an assessment with a trainer to get started !!</section>
{{/if}}

<div class="ui container">
  {{#if bookings}}
    <div class="ui centered four doubling stackable cards">
      {{#each bookings}}
        <div class="ui link card">
          <section class="content">
            <div class="center aligned header">
              {{dateTime}}
            </div>
            <section class="ui two column grid">
              <div class="meta column">
                <div class="row">Trainer:</div>
                <div class="row">Status: </div>
              </div>
              <div class="meta column">
                <div class="row">{{trainerName}}</div>
                <div class="row">{{status}}</div>
              </div>
            </section>
          </section>
          <section class="center aligned content">
            <div class="ui teal buttons">
              <div class="ui button">Options</div>
              <div class="ui floating dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu">

                  <div class="item" data-modal="{{id}}"><i class=" blue edit icon"></i> Edit Details</div>
                  <section class="ui modal" id="{{id}}"> <i class="close icon"></i>
                    <header class="header">{{dateTime}}</header>
                    <div class="content">
                      <form class="ui segment form" action="/assessments/booking/update/{{id}}" method="POST">
                        <section class="two fields">
                          <section class="field calender" id="{{id}}">
                            <label>Date/time</label>
                            <div class="ui input left icon">
                              <i class="calendar icon"></i>
                              <input placeholder="Date/Time" type="text" name="dateTime" value="{{dateTime}}">
                            </div>
                          </section>
                          <section class="field">
                            <label>Trainer Name</label>
                            <div class="ui selection dropdown">
                              <input type="hidden" name="trainer" value="{{trainerName}}">
                              <i class="dropdown icon"></i>
                              <div class="default text">Trainer Name</div>
                              <div class="menu">
                                {{#each ../allTrainers}}
                                  <div class="item" data-value="{{name}}">{{name}}</div>
                                {{/each}}
                              </div>
                            </div>
                          </section>
                        </section>
                        <button class="ui blue submit button"> Edit Booking </button>
                      </form>
                    </div>
                  </section>

                  <a class="item" href="/assessments/booking/delete/{{id}}" >
                    <i class="red delete icon"></i> Delete Booking
                  </a>
                </div>
              </div>
            </div>
          </section>
        </div>
      {{/each}}
    </div>
  {{else}}
    <section class="ui center aligned segment">You have no assessment bookings</section>
  {{/if}}
</div>

<form class="ui segment form" action="/assessments/addbooking" method="POST">
  <section class="two fields">
    <section class="field calender" id="dateTime">
      <label>Date/time</label>
      <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input placeholder="Date/Time" type="text" name="dateTime">
      </div>
    </section>
    <section class="field">
      <label>Trainer Name</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="trainer">
        <i class="dropdown icon"></i>
        <div class="default text">Trainer Name</div>
        <div class="menu">
          {{#each allTrainers}}
            <div class="item" data-value="{{name}}">{{name}}</div>
          {{/each}}
        </div>
      </div>
    </section>
  </section>
  <button class="ui blue submit button"> Book Assessment </button>
</form>