{{#if isTrainer}}
  {{> trainermenu id="members"}}
{{else}}
  {{> menu id="dashboard"}}
{{/if}}

{{#unless (checkForOpenGoals user.id)}}
  <div class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      You have no open or goals awaiting processing. Set a new goal to get started !!
    </div>
  </div>
{{/unless}}

{{> analytics}}

{{#if assessmentlist.assessments}}
  {{> assessment-table}}
{{else}}
  <section class="ui center aligned segment">You have no assessment. Book an assessment with a trainer to get started !!</section>
{{/if}}

<div class="ui segment container">
  <div class="ui green ribbon label">Bookings</div>
  <a class="ui label item" data-modal="addBooking">
    <i class="blue plus icon"></i> Book Assessment
  </a>
  {{#if bookings}}
    {{> listBooking}}
  {{else}}
    <section class="ui center aligned segment">You have no assessment bookings</section>
  {{/if}}
</div>

<div class="ui segment container">
  <div class="ui purple ribbon label">Goals</div>
  <a class="ui label item" data-modal="addGoal">
    <i class="blue plus icon"></i> Add Goal
  </a>
  {{#if goals.goals}}
    {{> listGoals}}
  {{else}}
    <section class="ui center aligned segment">You have no goals</section>
  {{/if}}
</div>

<div class="ui segment container">
  <div class="ui grey ribbon label">Fitness Programme</div>
  {{#if isTrainer}}
    <a class="ui label item" data-modal="addFitnessProgramme">
      <i class="blue plus icon"></i> Add Fitness Programme
      {{> addFitnessProgramme}}
    </a>
    <a class="ui label item" href="/trainerDashboard/deleteProgramme/{{user.id}}">
      <i class="red delete icon"></i> Delete Fitness Programme
    </a>
  {{/if}}
  {{#if user.program}}
    <div class="ui relaxed divided list">
      {{#each user.program}}
        <div class="item">
          <img class="ui avatar image" {{#if image}} src="{{image}}" {{else}} src="http://s3.amazonaws.com/wpd-assets/ymcanewyork/uploads/sub-class-thumbs/family-yoga-pilates-icon.png" {{/if}}>
          <div class="content">
            <div class="header">
              {{#if type}}
                <a href="/{{type}}/{{id}}"> {{name}} </a>
                <a href="/trainerDashboard/{{../user.id}}/deleteRoutine/{{id}}">
                  <i class="ui large red icon trash"></i>
                </a>
              {{else}}
                <a href="/routine/{{../user.id}}/{{id}}">{{name}}</a>
                <a href="/trainerDashboard/{{../user.id}}/deleteRoutine/{{id}}">
                  <i class="ui large red icon trash"></i>
                </a>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <section class="ui center aligned segment">
      You don't have a fitness programme. Book an assessment with a trainer to build a programme geared for you !!
    </section>
  {{/if}}
</div>
{{> addBooking}}

{{> addGoal}}

{{#if isTrainer}}
  {{> addAssessment}}
  {{> updateAssessment userid=user.id}}
{{/if}}